<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<form th:action="@{/products/new}" th:object="${product}" method="post" style="text-align: center">
<table align="center">
  <tr>
    <td>Name</td>
    <td><input type="text" name="name"></td>
  </tr>
  <tr>
    <td>Price</td>
    <td><input type="number" name="price"></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><input type="text" name="description"></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td><input type="number" name="amount"></td>
  </tr>
</table>
<button id="send" type="submit">Submit</button>
</form>
</body>
</html>