<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Product list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Description</td>
    <td sec:authorize="isAuthenticated()">Add</td>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.name}">Rose</td>
    <td th:text="${product.price}">100.0</td>
    <td th:text="${product.description}">Цветок</td>
    <td  sec:authorize="isAuthenticated()"><a th:href="@{/products/{id}/bucket(id=${product.id})}">Add to bucket</a></td>
    <td sec:authorize="hasAnyAuthority('ADMIN')">
      <form th:action="@{'/products/' + ${product.id}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Remove product</button>
      </form>
    </td>

  </tr>
</table>


</body>
</html>